<template name="tabs">


 		
 	  <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
 		
	      <a id="workout_tab" href="#workout" class="mdl-layout__tab is-active"><i class="material-icons">&#xE8E1;</i></a>
	      <a id="setup_tab" href="#setup" class="mdl-layout__tab"><i class="material-icons">&#xE8B8;</i></a>
	      <a id="schedule_tab" href="#schedule" class="mdl-layout__tab"><i class="material-icons">&#xE616;</i></a>
	      <a id="results_tab" href="#results" class="mdl-layout__tab"><i class="material-icons">&#xE85C;</i></a>
	    
	    </div>


</template>